html,
body {
    background: linear-gradient(to top right, #000000, #2e0108, #682323);
    overflow: hidden;
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: 'clip';
}

body {
    top: 0;
    left: 0;
}

@font-face {
    font-family: clip;
    src: url("https://github.com/todylu/monaco.ttf/blob/master/monaco.ttf");
}

button {
    background-color: #222222;
    color: #888888;
    font-size: large;
    padding: 4vmin 6vmin;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.219);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
    background-color: #800f0f;
    box-shadow: 0px 15px 20px rgba(6, 16, 102, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.sign {
    padding-top: 25vh;
    letter-spacing: 4;
    text-transform: uppercase;
    font-size: 10em;
    color: #ffe6e6;
    text-shadow: 0 0 0.6rem #ffe6e6, 0 0 1.5rem #f53100, -0.2rem 0.1rem 1rem #fa4444, 0.2rem 0.1rem 1rem #ff6565, 0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6e6;
        text-shadow: 0 0 0.6rem #ffe6e6, 0 0 1.5rem #f53100, -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565, 0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
    28%,
    33% {
        color: #f53100;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2424;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1818;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6e6, 0 0 1.5rem #ff6565, -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565, 0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}