#map {
    position: center;
    height: 20vh;
    width: 10vh;
}

#form {
    padding: 2vh;
    background-color: red;
}

.game-start {
    font-size: 20vh;
    font-weight: bold;
    color: blue;
}

.bg {
    background: linear-gradient(to top right, #060628, #1F245A, #682359);
    position: fixed;
    top: 0;
    left: 0;
}

html {
    background: linear-gradient(to top right, #060628, #1F245A, #682359);
    position: fixed;
    top: 0;
    left: 0;
}