#map {
    position: center;
    margin: 5vh;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: top .5s 0s cubic-bezier(.1, 1.2, .3, 1), transform .5s 0s cubic-bezier(.1, 1.2, .3, 1), width .5s .5s cubic-bezier(.1, 1.2, .3, 1), opacity .3s;
}

#form {
    padding: 2vh;
    background-color: red;
}

.game-start {
    font-size: 20vh;
    font-weight: bold;
    color: blue;
}